<div
    class="[ swiper-wrapper ][ select-none items-center! ]"
    x-data={`{
        swiper: null,
        corporation_pagination(index) {
            return this.pagination_icons[index]
        },
        init() {
            this.swiper = new Swiper('.swiper', {
                slidesPerView: 1,
                loop: false,
                effect: 'fade',
                hashNavigation: true,
                fadeEffect: {
                    crossFade: true
                },
                pagination: false,
                navigation: {
                    nextEl: '.swiper-button-next',
                    prevEl: '.swiper-button-prev',
                },
            });
        }
    }`}
>
    <slot />
</div>

<style lang="scss" is:global>
    .swiper-slide .tag {
        transform: scale(1.2);
        transform-origin: top left;
    }
</style>